<!DOCTYPE html>
<html>
<head>
    <title>Admin - Bhavya Tech</title>
    <link rel="stylesheet" 
    href="{{ url_for('static',
     filename='style.css') }}">
</head>
<body>
    <a href="/">Home</a>

<h2 style="text-align:center;">Client Requests</h2>

<table border="1" cellpadding="10" style="margin:auto;">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Message</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>