<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bhavya Tech</title>
    <link rel="stylesheet"
     href="{{ url_for('static',
     filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="request.">Request
        <button>Request a project</button>
    </a>
</head>
<body>
    <nav class="navbar">
    <a href="index.html">Home</a>
    <a href="index.html#services">Services</a>
    <a href="request">Contact</a>
</nav>

    <header>
        <h1>Bhavya Tech</h1>
        <p>Your Idea, Our Technology</p>
    </header>

    <section class="services">
        <h2>Our Services</h2>

        <a href="web.html" class="card">🌐 Web Development</a>
        <a href="mobile.html" class="card">📱 Mobile App Development</a>
        <a href="software.html" class="card">💻 Software Solutions</a>
        <a href="python.html" class="card">⚙️ Python Automation</a>
<a href="request">
        <button>Request a Project</button>
</a">
<a href="/">Home</a>
    </section>
    <section class="form-section">
    <h2>Request a Project</h2>

    <form>
        <input type="text" placeholder="Your Name" required>
        <input type="email" placeholder="Email Address" required>
        <input type="text" placeholder="Project Type (Website / App)">
        <textarea placeholder="Describe your project" rows="5"></textarea>
        
    </form>
</section>

    <footer>
        <p>© 2026 Bhavya Tech. All rights reserved.</p>
    </footer>

</body>
</html>