{% extends "base.html" %}

{% block content %}

<header>
    <h1>📱 Mobile App Development</h1>
    <p>Modern Android & iOS applications</p>
</header>

<section class="services">
    <div class="card center-card">

        <p>
            We build high-performance mobile apps with modern UI.
        </p>

        <ul>
            <li>Android Development</li>
            <li>iOS Apps</li>
            <li>Flutter Apps</li>
            <li>App Maintenance</li>
        </ul>


    </div>
</section>

{% endblock %}