{% extends "base.html" %}

{% block content %}

<header>
    <h1>⚙️ Python Automation</h1>
    <p>Smart automation solutions</p>
</header>

<section class="services">
    <div class="card center-card">

        <p>
            Automate your work with powerful Python tools.
        </p>

        <ul>
            <li>Web Scraping</li>
            <li>Data Automation</li>
            <li>API Integration</li>
            <li>AI Solutions</li>
        </ul>

        
    </div>
</section>

{% endblock %}