{% extends "base.html" %}

{% block content %}

<header>
    <h1>Our Services</h1>
</header>

<section class="services">

    <div class="service-container">

        <a href="/website" class="card">
            🌐 Website Development
        </a>

        <a href="/mobile" class="card">
            📱 Mobile Apps
        </a>

        <a href="/software" class="card">
            💻 Software Solutions
        </a>

        <a href="/python" class="card">
            ⚙️ Python Automation
        </a>

    </div>

</section>

{% endblock %}